<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/highcharts/highcharts.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
$(function () {

// Radialize the colors
Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
    return {
        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
        stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')], // darken
        ]
    };
});

// Build the chart
        $('#artist-pie').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Topic Distribution for this Artist'
            },
            tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 1) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Topic Distribution',
{% autoescape off %}
{{ artist.get_topics_for_chart }}
{% endautoescape %}
            }]
        });
    });
      </script>
  </head>

  <body id="artist_stats" class="artist-stats">
    {% block content %}
    <div class="container" id="artist-stats-container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
          <div class="row pie-row" id="artist-pie-row">
            <div class="pie-container" id="artist-pie-container">
              <div class="pie" id="artist-pie">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row topic-info-row" id="topic-info-row">
            <div class="topic-info-container" id="topic-info-container">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
