<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/highcharts/highcharts.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
$(function () {

// Radialize the colors
Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
    return {
        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
        stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')], // darken
        ]
    };
});

// Build the chart
        $('#track-stats-container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Topic Distribution for this Track'
            },
            tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Topic Distribution',
{% autoescape off %}
{{ track.get_topics_for_chart}}
{% endautoescape %}
}]
        });
    });
      </script>
  </head>

  <body id="track-stats" class="artist-stats">
    {% block content %}
    <div class="thing">
      <p>{{track.get_topics_for_chart}}</p>
    </div>
    <div class="container" id="track-stats-container">
    </div>
    {% endblock %}
  </body>
</html>
